@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #f13a01;
}
section.hero{
    @apply grid;
    grid-template-columns: .4fr .6fr;
}

.top-10{
    top: 21.5rem;
    filter: drop-shadow(rgb(175, 173, 173) 1px 4px 10px);
}

input[type="email"], 
input[type="text"],
input[type="password"]{
    @apply block my-2 w-full rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-100;
}
button{
    @apply block w-full text-gray-700 font-semibold;
    @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"], button.submit{
    @apply border-0 bg-primary text-white;
}